<script setup lang="ts">

import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { googleClientInfoFetch, googleTokenLoginFetch, googleAuthCodeFetch } from '../utils/GoogleLoginUtils'
import { ClientInfoResponse, UserProfileResponse } from '../types/ResponseTypes'

const router = useRouter()
const clientId = ref('')
const loading = ref(true)

onMounted(async () => {
  await googleClientInfoFetch((result: ClientInfoResponse) => {
    if (result.result) {
      console.log('get google clientId: ', result.data.client_id )
      clientId.value = result.data.client_id ? String(result.data.client_id) : ''
      loading.value = false
    }
  })
})

const handleLoginResult = (result: UserProfileResponse) => {
  if(result.result) {
      localStorage.setItem('userProfile', JSON.stringify(result.data))
      console.log('userProfile stored in localStorage')
      router.push({ name: 'UserProfile' })
  } else {
      router.push({ name: 'LoginFailed' })
  }
}

const funcGoogleTokenLogin = () => googleTokenLoginFetch(handleLoginResult, clientId.value)
const funcGoogleAuthCodeLogin = () => googleAuthCodeFetch(handleLoginResult, clientId.value)

</script>

<template>
<div>

  <v-btn prepend-icon="mdi-google" block :loading="loading" class="mb-4"
    @click="funcGoogleTokenLogin">
    Sign by Google Access Token
  </v-btn>

  <v-btn prepend-icon="mdi-google" block :loading="loading"
    @click="funcGoogleAuthCodeLogin">
    Sign by Google OAuth 2.0 Auth-Code
  </v-btn>

</div>
</template>
