<template>
  <v-card class="bg-red-lighten-4">
    <v-card-item>
      <div class="text-h6 mb-1">
        Login Failed
      </div>
      <div class="text-caption">
        Unable to sign in. Please try again.
      </div>
    </v-card-item>
    <v-card-actions>
      <v-btn to="/" variant="outlined">
        Return Home
      </v-btn>      
      <v-btn to="/login" variant="outlined">
        Go to Login
      </v-btn>      
    </v-card-actions>
  </v-card>
</template>

<script setup>
// Add any logic needed here.
</script>
