<template>
  <v-card v-if="userProfile" color="#1F7087" theme="dark">
    <div class="d-flex flex-no-wrap justify-space-between">
      <div>
        <v-card-title class="text-h5">{{ userProfile.name ? userProfile.name : '' }}</v-card-title>
        <v-card-subtitle>EMAIL: {{ userProfile.email ? userProfile.email : '' }}</v-card-subtitle>
      </div>
      <v-avatar class="ma-3" size="60">
        <v-img :src="userProfile.picture ? userProfile.picture : ''"></v-img>
      </v-avatar>
    </div>
  </v-card>
  <v-card v-else>
    <v-card-item>
      <div class="text-h6 mb-1">
        User profile empty.
      </div>
    </v-card-item>
  </v-card>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { UserProfile } from '../types/UserProfileType'

const userProfile = ref(new UserProfile());

async function getUserProfile() {
  const storedProfile = localStorage.getItem('userProfile');
  if (storedProfile) {
    userProfile.value = Object.assign(userProfile.value, JSON.parse(storedProfile));
  }
}

onMounted(getUserProfile);
</script>
