<template>
  <v-app-bar flat>
    <v-app-bar-title>          
      <v-btn to="/" icon="mdi-home" size="small"></v-btn>      
      vue-dotnet-oauth-example
      <v-icon icon="mdi-vuetify" />
      <v-icon icon="mdi-plus" />
      <v-icon icon="mdi-dot-net" />
    </v-app-bar-title>
  </v-app-bar>
</template>

<script lang="ts" setup>
  //
</script>
