<template>
  <div>
    <div class="text-body-2 font-weight-light mb-n2">Welcome to</div>
    <h1 class="text-h3 font-weight-bold mb-6">vue-dotnet-oauth-example</h1>

    <v-btn 
      to="/login" 
      size="x-large" 
      block 
      prepend-icon="mdi-login"
      class="mb-4 bg-indigo-lighten-4">
      Go to Login
    </v-btn>

    <v-btn 
      href="https://gitlab.com/dyson-liu-service/vue-dotnet-oauth-example" 
      variant="plain"
      block
      prepend-icon="mdi-gitlab"
      target="_blank"
      rel="noopener noreferrer">
        Project Source Code
    </v-btn>

  </div>
</template>

<script lang="ts" setup>
  //
</script>
